.bottomButton {
    display: inherit;
}

.input, .loginButton, .signUpButton {
    border-radius: 10px;
    border: none;

}

.loginButton, .signUpButton {
    color: #F4EDED;
    width: 6rem;
    height: 2rem;
    margin-top: 1rem;
    font-size: 1.15rem;
    font-weight: 600;
}

.loginButton:hover, .signUpButton:hover {
    background-color: #2D3A3A;
}

.loginButton {
    background-color: #2BA84B;
}

.signUpButton  {
    background-color: #248232;
}

.input, .loginButton, .signUpButton {
    font-family:  inherit;
}

.input, .errorMessage, .buttonBox {
    width: 70%;
}

.input {
    height: 2rem;
    padding: 15px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.title {
    color: #2d3A3A;
    font-size: 3rem;
    margin: 10px;
}

.errorMessage {
    width: 70%;
    padding-left: 0.5rem;
    font-size: 0.75rem;
    color: #FF0F0F;
}
.play {
    animation: shake 0.1s linear;
}

.buttonBox {
    display: flex;
    justify-content: space-evenly;
}

@keyframes shake {
    0%  {transform: translateX(0px);} 
    25% {transform: translateX(3px);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(-3px);}
    100%{transform: translateX(0px);}
  }

@keyframes slideUp {
    0%  {
        opacity: 0%;
        transform: translateY(-10%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}